$main-bgcolor: hsl(233, 47%, 7%);
$card-bgcolor: hsl(244, 38%, 16%);
$accent-color: hsl(277, 64%, 61%);
$heading-stats-color: hsl(0, 0%, 100%);
$main-paragraph-color: hsla(0, 0%, 100%, 0.75);
$stats-heading-color: hsla(0, 0%, 100%, 0.6);
$heading-stats-font: 'Inter', sans-serif;
$paragraph-text-font: 'Lexend Deca', sans-serif;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}


body {
    background-color: $main-bgcolor;
    display: grid;
    font-size: 16px;

    margin: auto;
    place-items: center;
    width: 80%;
    height: 100%;
}

main {
    border-radius: 0.5em;
    overflow: hidden;
    max-width: 23rem;
}

article {
    align-items: center;
    background-color: $card-bgcolor;
    border-radius: 0.7em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;


    div.img-wrapper {
        position: relative;

        img {
            display: block;
            width: 100%;
            position: relative;
        }

        .overlay {
            background-color: $accent-color;
            height: 100%;
            left: 0;
            mix-blend-mode: multiply;
            opacity: 0.9;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    h2 {
        color: $heading-stats-color;
        font-family: $heading-stats-font;
        font-size: 1.8rem;
        margin-top: 1rem;

        span {
            color: $accent-color;
        }

    }

    h2+p {
        color: $main-paragraph-color;
        font-family: $paragraph-text-font;
        padding: 1rem 0;
        line-height: 1.5;
        // font-size: 14px;
    }

    div.main-text {
        max-width: 88%;
        text-align: center;
        margin: 0 auto;
    }

    div.stats {
        align-items: center;
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        margin-top: 1.25rem;

        &.last {
            margin-bottom: 1.5rem;
        }

        .stats--heading {
            color: $heading-stats-color;
            font-weight: bold;
            font-family: $heading-stats-font;
            letter-spacing: 1.5px;
        }

        .stats--text {
            color: $stats-heading-color;
            font-family: $paragraph-text-font;
            font-size: 14px;
        }
    }
}

@media screen and (min-width: 900px) {

    main {
        width: 75%;
    }

    article {
        flex-direction: row-reverse;
        height: 23rem;

        div.img-wrapper {
            display: block;
            width: 101%;
        }

        div.main-text {
            max-width: 73%;
        }
    }

    div.main-text>* {
        text-align: left;
    }

    div.metrics-text {
        display: flex;
        justify-content: space-evenly;

        .stats {
            align-items: flex-start;
        }
    }
}